
/* ===========================
   InspecteurBot RDC
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#041c5c;
    color:#ffffff;
    padding:20px;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

#searchInput{
    width:100%;
    padding:15px;
    border:none;
    border-radius:8px;
    font-size:16px;
    margin-bottom:10px;
}

#searchBtn{
    width:100%;
    padding:15px;
    background:#0d6efd;
    color:white;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
}

#searchBtn:hover{
    background:#0b5ed7;
}

#searchResults{
    margin-top:20px;
}

.article{
    background:white;
    color:#000;
    padding:15px;
    margin-bottom:15px;
    border-radius:10px;
}

.article h3{
    color:#0d6efd;
    margin-bottom:8px;
}

.article h4{
    margin-bottom:10px;
}

.article button{
    margin-top:10px;
    padding:10px 15px;
    background:#198754;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

.article button:hover{
    background:#157347;
}
